<div class="game">

  <div class="wins">
    <h1>
      X won
    </h1>
    <p> {{gameService.xWins}}</p>
  </div>
  <div class="playing-part">
    <div class="turn">

      <p>
        <span *ngIf="gameService.getUser() == 0" class="o">O</span>
        <span *ngIf="gameService.getUser() == 1" class="x">X</span>
        's turn
      </p>
    </div>
    <div class="board">
      <app-board>
      </app-board>
    </div>

    <button class="reset-button" (click)="resetGame()" mat-raised-button color="primary">
      Reset
    </button>
  </div>


  <div class="wins">
    <h1>
      O won
    </h1>
    <p>{{gameService.oWins}}</p>
  </div>

</div>